
@using WebApp3.Models;
@model List<Departements>
<div class="container">
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Departments</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">
                <!-- Portfolio Item 1-->
                @foreach (var item in Model)
                {
                    
                        <div class="col-md-6 col-lg-4 mb-5">
                            <a href="/Home/Students/@item.id">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"></div>
                                    </div>

                                    <img class="img-fluid" src="@item.photo" alt="..." />

                                </div>
                                </a>
                                    <h4>@item.Name</h4>
                                    <h6>@item.Description</h6>

</div>
                
                        <!-- Portfolio Item 2-->
                        <!-- Portfolio Item 3-->
                        <!-- Portfolio Item 4-->
                        <!-- Portfolio Item 5-->
                        <!-- Portfolio Item 6-->
                        }
                </div>
                
        </div>
    </section>
    
    
</div>